# User specific ignores
checkpoints/
model1/

# Python defaults
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# PyTorch & Model files
*.pth
*.pt
*.onnx
*.t7
weights/

# BasicSR / Project specific common outputs
experiments/
results/
tb_logger/
debug/
*.log

# Mac/OS specific
.DS_Store
Thumbs.db