fastapi
uvicorn[standard]
opencv-python-headless
Pillow
python-dotenv
boto3
google-cloud-storage
google-cloud-aiplatform
python-multipart
numpy<2
timm
einops
scipy
scikit-image
matplotlib
tqdm
pyyaml
addict
yapf
tb-nightly
lmdb
